<header class="site-header" role="banner">

    {% include site-switcher.html %}

    <div class="site-header-content wrapper">
        <label id="sidebar-mobile-toggle" for="sidebar-mobile" tabindex="0">
            {% include icons/menu.svg %}
        </label>

        <a class="site-title" href="/">
            <img src="/assets/img/logo.svg" alt="Polychromatic Logo"/>
            <span>polychromatic docs</span>
        </a>

        <div class="social-links">
            <a href="{{ site.polychromatic_org }}" title="Polychromatic on GitHub">
                {% include icons/social/github.svg %}
            </a>
            <a href="{{ site.rss_feed }}" title="RSS Feed for Release Notes">
                {% include icons/social/rss.svg %}
            </a>
        </div>
    </div>

</header>
