{% for category in site.data.sidebar %}

    <div class="sidebar-heading">{{ category.title }}</div>

    {% for item in category.items %}
        {% if subpage.category == parent.id %}
        <a href="{{ item.url | relative_url }}" id="sidebar-{{ item.url | md5 | slice:0,8 }}" class="sidebar-item nav-docs {% if item.indent %}indent-{{ item.indent}}{% endif %} {% if item.url == page.permalink %}active{% endif %} {% if item.disabled == true %}disabled{% endif %}" {% if item.disabled == true %}style="opacity:0.5" disabled{% endif %}>
            {% if item.icon %}{% include icons/{{ item.icon }}.svg %}{% endif %}
            {{ item.name }}
        </a>
        {% endif %}
    {% endfor %}

{% endfor %}

<div class="social-links">
    <a href="{{ site.polychromatic_org }}" title="Polychromatic on GitHub">
        {% include icons/social/github.svg %}
    </a>
    <a href="{{ site.rss_feed }}" title="RSS Feed for Release Notes">
        {% include icons/social/rss.svg %}
    </a>
</div>

<div class="sidebar-footer">
    <span>Last Updated {{ site.time | date:'%Y-%m-%d' }}</span>
</div>
