@import 'variables.scss';

blockquote {
    background: $bg-secondary;
    border-left: 4px solid $warning;
    color: darken($text-colour, 25%);
    margin: 15px 0;

    p {
        padding: 1em;
        margin: 0;

        + p {
            padding-top: 0;
        }
    }

    ul {
        margin: 0;
        padding-left: 3em;
        padding-bottom: 1.5em;
    }

    strong {
        color: $warning;
    }

    &.pkg-cmd {
        border-color: green;

        &::before {
            content: "$";
            color: green;
            padding-right: 2px;
        }

        padding: 10px;
    }

    &.alert {
        border-color: $red;

        strong {
            color: $red;
        }
    }
}
