@import "variables.scss";

$roadmap-line: #00FF00;

.topic {
    background: $bg-colour;
    padding: 15px 30px;
    margin-bottom: 5em;

    .page-title {
        color: white;
        font-weight: 400;
    }

    p > img {
        display: block;
        margin: auto;
        max-width: 100%;
        max-height: 50vh;
    }

    h2, h3, h4 {
        margin-top: -135px;
        padding-top: 135px;

        img {
            box-shadow: none;
            max-height: 32px;
            max-width: 32px;
            vertical-align: middle;
        }
    }

    h4 {
        margin-top: -125px;
        padding-top: 145px;
    }

    hr {
        background: linear-gradient(to right, $bg-secondary, $bg-secondary, rgba(0,0,0,0));
        border: none;
        padding: 1em 0;
        margin: 2em -35px;
    }

    table img {
        box-shadow: none;
        max-height: 32px;
        max-width: 32px;
        margin-right: 2px;
        vertical-align: middle;

        + a {
            vertical-align: middle;
        }
    }
}

.roadmap {
    padding-bottom: 4em;
    padding: 1em;

    .line {
        background: linear-gradient(to right, rgba(0,0,0,0) 45%, $roadmap-line 50%, rgba(0,0,0,0) 55%);
        text-align: center;
        width: 4em;
        position: relative;

        &:after {
            content: " ";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(to bottom, rgba(0,0,0,0), black);
            height: 2em;
            width: 10%;
            margin: auto;
        }

    }

    .col {
        padding: 0;
    }

    .circle {
        height: 2em;
        width: 2em;
        border: 2px solid $roadmap-line;
        margin: auto;
        border-radius: 100%;
        background: $bg-colour;

        &.checked,
        &.progress {
            background: $roadmap-line;
            background-repeat: no-repeat;
            background-size: 1.5em;
            background-position: center;
            box-shadow: lime 0 0 2em;
            animation: glow 5s infinite;
        }

        &.progress {
            border-radius: 100%;
            border: none;
            box-shadow: none;
            background-image: url(/assets/img/progress.svg);
            background-size: 100%;
            animation: loop 2s infinite linear;
        }

        &.checked {
            background-image: url(/assets/img/checkmark-dark.svg);
        }
    }

    .name {
        margin: 0 0 0.5em;
        padding: 0.25em 0;
    }

    .desc {
        color: grey;
        max-width: 600px;
    }

    ul {
        margin: 0;
        padding-left: 15px;
        list-style: none;
        position: relative;


        &:last-child {
            margin-bottom: 2em;
        }

        .bullet,
        .circle,
        .check {
            background-size: 100%;
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
            height: 16px;
            width: 16px;
        }

        &.pending .bullet {
            background-image: url(/assets/img/bullet.svg);
        }

        &.in_progress {
            color: #00ff00;
            position: relative;

            .circle {
                animation: loop 1s linear infinite;
                border: none;
                background-image: url(/assets/img/progress-mini.svg);
                background-size: 100%;
                margin-top: 2px;
                height: 16px;
                width: 16px;
            }
        }

        &.completed .check {
            background-image: url(/assets/img/checkmark.svg);
        }
    }
}

@keyframes glow {
    0% {
        box-shadow: lime 0 0 0.25em;
    }

    50% {
        box-shadow: lime 0 0 1em;
    }

    100% {
        box-shadow: lime 0 0 0.25em;
    }
}

@keyframes loop {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

/* JavaScript-assisted classes for table */
.yes {
    font-size: 0;
    text-align: center;

    &::before {
        background-image: url(/assets/img/checkmark.svg);
        background-size: 24px;
        display: block;
        margin: auto;
        height: 24px;
        width: 24px;
    }
}

.yes {
    color: lime;

    &::before {
        content: "✓ ";
    }
}

/* Mini tweaks */
.dependency-table {
    margin-bottom: 15px;

    img {
        height: 24px;
    }
}

.caption {
    /* For <p> tags */
    text-align: center;
    margin-top: -2em;
    margin-bottom: 2.5em;
    font-size: 0.9em;
    opacity: 0.66;
}

.thumbnail-right {
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
    clear: both;

    img {
        max-width: 320px !important;
    }
}

kbd {
    background: $bg-secondary;
    border: 1px solid $table-colour;
    border-radius: 2px;
    padding: 2px 4px;
}

/* Suggested */
.suggested-topics {
    display: flex;
    flex-wrap: wrap;
}

.suggested-topic {
    background: $bg-secondary;
    border: 1px solid $border-colour;
    margin: 0.5em;
    padding: 1em 1.5em;
    width: 45%;
    transition: border-color $btn-speed;

    .topic-name {
        display: flex;
        font-size: 1.2em;
        margin: 0.5em 0;
        transition: color $btn-speed;
    }

    .topic-desc {
        color: $grey-colour;
        margin: 0.5em 0;
        transition: color $btn-speed;
    }

    svg {
        height: 1em;
        margin: auto 0;
        margin-right: 0.25em;
    }

    &:hover,
    &:focus {
        border-color: $primary;
        text-decoration: none;

        .topic-desc {
            color: $secondary;
        }
    }
}

@media (max-width: $screen-md) {
    .suggested-topic {
        width: 100%;
    }

    .thumbnail-right {
        float: none;
        margin: 2em auto;
    }
}

#back-to-top-wrapper {
    display: flex;
    position: sticky;
    bottom: 1em;
}

#back-to-top {
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(0.2em);
    margin: 1em 0;
    margin-left: auto;
    z-index: 20;
}

/* Flash headers via hash */
h1:target
h2:target,
h3:target {
    animation: this-heading-text 1s ease-in-out forwards;

    &::before {
        animation: this-heading-arrow 3s ease-in-out forwards;
        content: "»";
        display: inline-block;
        font-weight: bold;
        margin-right: 0.25em;
        transform-origin: center;
    }
}

@keyframes this-heading-text {
    0% {
        color: $secondary;
    }
    30%, 50% {
        color: white;
    }
    100% {
        color: $primary;
    }
}

@keyframes this-heading-arrow {
    0% {
        transform: scale(2);
        opacity: 0;
    }
    50%, 80% {
        transform: scale(1);
        opacity: 1;
        margin-right: 0.25em;
    }
    100% {
        opacity: 0;
        margin-right: -0.5em;
    }
}
