@import 'variables.scss';

.site-header {
    background: rgba(0,0,0,0.75);
    background-image: url(/assets/img/header.svg);
    background-size: contain;
    background-position: -350px center;
    backdrop-filter: blur(20px);
    box-shadow: 0px 1px 4px #000;
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    .site-inner {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.site-header-content {
    display: flex;
    height: $header-height - 35px;
}

.site-title {
    text-decoration: none !important;
    margin: auto auto auto 0;

    * {
        vertical-align: middle;
    }

    span {
        font-size: 2em;
    }

    &:hover {
        img {
            opacity: 0.75;
        }
    }
}

@media screen and (max-width: 600px) {
    .site-title {
        span {
            display: none;
        }
    }
}
