@import 'variables.scss';

html, body {
    background: $bg-colour;
    color: $text-colour;
    margin: 0;
}

body {
    overflow-y: scroll;
}

main {
    margin-top: $header-height;
}

p {
    margin: 1em 0;
    line-height: 20px;
}

::selection {
    background-color: green;
    color: white;
}

.wrapper {
    padding-right: 30px;
    padding-left: 30px;
}

article {
    margin: auto 0;
}

.grey {
    color: grey;
}
