@import 'variables.scss';

.sidebar {
    width: 300px;
    background: black;
    padding: 30px;
    padding-right: 0;
    margin-left: -30px;
    padding-bottom: 30px;
}

.sidebar-heading {
    color: $sidebar-heading;
    margin-top: 1em;
    padding: 0.25em 0;
    border-bottom: 1px solid darken($sidebar-heading, 40%);

    &:first-child {
        margin-top: 0;
    }
}

.sidebar-item {
    display: flex;
    padding: 0.25em 1em;
    border-bottom: 1px solid darken($sidebar-heading, 40%);

    svg {
        height: 16px;
        width: 16px;
        margin: auto 4px;
    }

    &:hover,
    &:focus {
        background: #313131;
        color: white;
        text-decoration: none;
    }

    &.active {
        background: green;

        &:hover,
        &:focus {
            color: white;
            text-decoration: none;
        }
    }

    &.indent-1 {
        padding-left: 30px;
    }

    &.indent-2 {
        padding-left: 60px;
    }

    &.disabled {
        opacity: 0.5;
        filter: grayscale(1);
        pointer-events: none;
    }
}

.sidebar-text {
    display: flex;
    padding: 0.25em 1em;
    opacity: 0.5;
    filter: grayscale(1);

    svg {
        height: 1em;
        width: 1em;
        margin: auto 0.25em;
    }
}

.category-home {
    @extend .sidebar-item;
    padding: 0.5em 0;
}

/* Desktop */
@media (min-width: $screen-md + 1px) {
    #sidebar-mobile-toggle {
        display: none;
    }

    .sidebar {
        position: sticky;
        top: $header-height;
        height: calc(100vh - #{$header-height});
        overflow-y: scroll;
        z-index: 2;
    }
}

/* Mobile */
@media (max-width: $screen-md) {
    main {
        background: transparent;
    }

    .topic-content {
        padding: 15px 0;
    }

    #sidebar-mobile-toggle {
        display: flex;

        svg {
            margin: auto;
            margin-right: 1em;

            path {
                fill: $primary;
            }
        }

        &:hover,
        &:focus {
            cursor: pointer;

            svg path {
                fill: $secondary;
            }
        }
    }

    .sidebar {
        position: fixed;
        left: 0;
        top: $header-height;
        bottom: 0;
        width: 50vw;
        padding: 15px;
        margin: 0;
        z-index: 20;
        transition: transform $page-speed,
                    opacity $page-speed,
                    visibility $page-speed;
        transform: translate(-50vw);
        opacity: 0;
        visibility: hidden;
        overflow-y: scroll;
    }

    #sidebar-mobile-cover {
        background: rgba(0,0,0,0.5);
        backdrop-filter: blur(0.2em);
        position: fixed;
        left: 0;
        right: 0;
        top: $header-height;
        bottom: 0;
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        transition: opacity $page-speed,
                    visibility $page-speed;
    }

    #sidebar-mobile:checked {
        & ~ .sidebar {
            transform: translate(0);
            opacity: 1;
            visibility: visible;
        }

        & + #sidebar-mobile-cover {
            opacity: 1;
            visibility: visible;
        }
    }
}

@media (max-width: $screen-sm) {
    .sidebar {
        width: 80vw;
    }
}
