@import 'variables.scss';

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }

    .fade-in {
        animation: none;
    }
}

.transition-fade {
    transition: opacity $page-speed,
                transform $page-speed;
    opacity: 1;
    transform: translateX(0);
}

html.is-animating .transition-fade {
    opacity: 0;
    transform: translateX(2em);
}
