<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "item": {
                    "@id": "https://docs.polychromatic.app",
                    "name": "Documentation"
                }
            }
            {% if page.permalink != "/" %}
            ,
                {
                    "@type": "ListItem",
                    "position": 2,
                    "item": {
                        "@id": "https://docs.polychromatic.app{{ page.permalink }}",
                        "name": "{{ page.title }}"
                    }
                }
            {% endif %}
        ]
    }
</script>
