<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="wrapper" aria-label="Content">
        <article class="page">
            <div class="sidebar-container">
                <input id="sidebar-mobile" type="checkbox" style="display:none"/>
                <label id="sidebar-mobile-cover" for="sidebar-mobile"></label>
                <div class="sidebar">
                    {% include sidebar.html %}
                </div>
            </div>

            <div class="topic fade-in">
                <div class="topic-content" id="swup">
                    {{ content }}
                </div>
            </div>
        </article>

        <input id="current-page-class" value="{{ page.class }}" style="display:none; appearance:none"/>

        <div id="back-to-top-wrapper">
            <a id="back-to-top" class="btn" href="#">Back to top</a>
        </div>

      </div>

    </main>

    <script src="/assets/lib/swup.min.js"></script>
    <script src="/assets/polychromatic.js"></script>

  </body>

</html>
