<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <article class="page">
            <div class="row">
                <input id="sidebar-mobile" type="checkbox" style="display:none"/>
                <label id="sidebar-mobile-cover" for="sidebar-mobile"></label>
                <div class="sidebar col-3">
                    {% include sidebar.html %}
                </div>

                <div class="col topic fade-in" id="swup">

                    {{ content }}

                </div>
            </div>
        </article>

        <input id="current-page-class" value="{{ page.class }}" style="display:none; appearance:none"/>

      </div>
    </main>

    {% include footer.html %}

    <script src="/assets/polychromatic.js"></script>

  </body>

</html>
