<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="wrapper" aria-label="Content">
        <article class="page">
            <div class="sidebar-container">
                <input id="sidebar-mobile" type="checkbox" style="display:none"/>
                <label id="sidebar-mobile-cover" for="sidebar-mobile"></label>
                <div class="sidebar">
                    {% include sidebar.html %}
                </div>
            </div>

            <div class="topic transition-fade">
                <div class="topic-content" id="swup">
                    <input id="current-page-id" type="hidden" value="sidebar-{{ page.permalink | md5 | slice:0,8 }}"/>

                    {{ content }}

                </div>
            </div>

            <div class="toc-container transition-fade">
                <ul id="toc"></ul>
            </div>

        </article>

        <div id="back-to-top-wrapper">
            <a id="back-to-top" class="btn" href="#">Back to top</a>
        </div>

      </div>

    </main>

    {% assign timestamp = site.time | date: '%s' %}
    <script src="/assets/lib/swup.umd.js?{{ timestamp }}"></script>
    <script src="/assets/polychromatic.js?{{ timestamp }}"></script>

  </body>
</html>
